#timeline {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    background-color: $color1;

    #timelinebox {
        width: 100%;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: $color5;
            top: 0%;
            bottom: 0%;
            left: 50%;
            margin-left: -3px;
        }

        >div {
            padding: 20px 30px;
            background-color: $color5;
            color: $color1;
            width: 40%;
            border-radius: 6px;
            margin: .5rem 0rem;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     width: 25px;
            //     // left: 48.5%;
            //     height: 25px;
            //     background-color: $color1;
            //     border: 4px solid $color5;
            //     border-radius: 50%;
            //     top: 45px;
            //     z-index: 1;
            //     animation: animate .7s ease-in infinite alternate;
            // }
        }

        >.rightTimeline {
            position: relative;
            top: 0;
            left: 60%;
        }

        >.leftTimeline {
            text-align: left;
        }



    }
}

// .timelineItem {
//     &::after {
//         content: '';
//         position: absolute;
//         width: 25px;
//         height: 25px;
//         right: -17px;
//         background-color: $color1;
//         border: 4px solid $color5;
//         border-radius: 50%;
//         top: 45px;
//         z-index: 1;
//         animation: animate .7s ease-in infinite alternate;
//     }
// }


@keyframes animate {
    to {
        transform: translateY(5px);
    }
}